body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.list-group-item {
    padding: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h4 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 550px;
}

.article-image {
    object-fit: cover;
    height: 200px
}

/* .card-body {
    height: 400px;
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
} */

.card-body a {
    margin-top: auto;
}

.badge {
    font-size: .9rem;
}

.source {
    font-size: 0.5rem;
}

.btn {
    width: 100%;
    font-size: 1.7rem;

}

.headline-title {
    text-decoration: none;
    color: inherit;
}

.header-info-text {
    font-size: 1.2rem;
}

.date-time-stamp {
    font-size: 0.5rem;
}

.footer {
    width: 100%;
}