html, body {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

h1 {
    color: #000;
    font-size: 3rem;
}

form {
    background-color: rgba(49, 49, 49, 0.5);
    border-radius: 10px;
    color: white;
    font-size: 1.4rem;
    padding: 35px;
}

.btn {
    background-color: green;
    border: none;
    height: 3rem;
    width: 100%;
}