html,
body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    color: #000;
    font-size: 3rem;
}

form {
    background-color: rgba(49, 49, 49, 0.5);
    padding: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    font-size: 1.4rem;
}

.btn {
    width: 100%;
    background-color: green;
    border: none;
    height: 3rem;
}